@font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueCondensedBlack";
    src: url("./HelveticaNeueCondensedBlack.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HomemadeApple-Regular";
    src: url("./HomemadeApple-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}